@model NationAssists.Areas.Admin.Models.mServiceSubCategory
@*<div>*@

    @if (Model.ServiceSubCategroyList != null)
    {
        int i = 0;
        
        if (Model.ServiceSubCategroyList.Count > 0)
        {
<table>
   
    <thead>
        <tr>
            <th>SNo.</th>
            <th>Service Name</th>
            <th>Sub Category Name</th>
            <th>Status</th>
            <th>Operation</th>
           
        </tr>
    <thead>
    <tbody>
        @foreach (DataEngine.ServiceSubCategory item in Model.ServiceSubCategroyList)
        {
            i = i + 1;
          

            <tr>
                <td><span class="blueClr">@i</span></td>
                <td>@item.ServiceName</td>
                <td>@item.Name</td>
                <td>@(item.IsActive? "Active":"InActive")</td>
                <td>
                    <input type="hidden" value="@item.IsActive.ToString()" />
                    <a data-id="@item.ServiceSubCategoryId" service-id="@item.ServiceId" subCate-Name="@item.Name" subCat_isActive="@item.IsActive.ToString()" onclick="EditServiceSubCategory(this)"><img src="~/images/edit.gif" title="Edit" alt="Edit" align="EDIT" /></a> &nbsp;
                    &nbsp; <a data-id="@item.ServiceSubCategoryId" onclick="DeleteServiceSubCategory(this);"><img src="~/images/icon-delete.gif" title="Delete" alt="Delete" /></a>
                </td>
             
            </tr>
        }
    </tbody>


    
</table>
        }
      
    }

    else
    {
        <blockquote>  <h3 style="color:salmon">No Record exist...!!!</h3></blockquote>
    }


@*</div>*@


