@model ICardPrinter.Areas.Admin.Models.mServiceProvoiderServiceArea

@{
    ViewBag.Title = "ManageServiceProvierServiceArea";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboardCon transition">
    <div class="mainHd">Manage Service Provider Price</div>
    <ul class="dbForm flexBox">
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service Provider </span>
            @Html.DropDownListFor(m => m.ServiceProviderId, Model.GetAllServiceProvider(), "--select-", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service </span>
            @Html.DropDownListFor(m => m.ServiceId,
           new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"),
                  "Select Service", new { @class = "formInput", @onchange = "BindServiceSubCategoryPriceList()" })
        </li>

        <li class="oneThird">
            <span class="fieldHd" id="lblArea"> Service Area Type </span>
            <select id="AreaTypeId" class="formInput">
                <option value="">--Select--</option>
                <option value="AG">Country wide</option>
                <option value="IC">State Wide</option>
                <option value="IC">Area Wide</option>
            </select>
        </li>

        <li class="oneThird">
            <span class="fieldHd" id="lblUserType">Country </span>
            @Html.DropDownListFor(m => m.ServiceProviderId, Model.GetAllServiceProvider(), "--select-", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblUserType">State </span>
            @Html.DropDownListFor(m => m.ServiceProviderId, Model.GetAllServiceProvider(), "--select-", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblUserType">State </span>
            @Html.DropDownListFor(m => m.ServiceProviderId, Model.GetAllServiceProvider(), "--select-", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
    </ul>
    </div>

