@model NationAssists.Areas.Admin.Models.mBroker

@if (Model.BrokerList != null)
{
    int i = 0;

    if (Model.BrokerList.Count > 0)
    {
        <table>
            <thead>


                <tr>

                    <th>SNo.</th>
                    <th>Source Code</th>
                    <th>Source Name</th>
                    <th>EmailID</th>
                    <th>Mobile No</th>
                    <th>Aggreement Start Date</th>
                    <th>Aggreement End Date</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataEngine.Broker item in Model.BrokerList)
                {
                    i = i + 1;
                <tr>
                    <td> <span class="blueClr">@i </span></td>

                    <td>@item.BrokerCode</td>
                    <td>@item.Broker_Name</td>
                    <td>@item.EmailId</td>
                    <td>@item.MobileNo</td>
                    <td>@(Convert.ToDateTime( item.Agreement_Start_Date).ToString("dd-MMM-yyyy"))</td>
                    <td>@(Convert.ToDateTime( item.Agreement_End_Date).ToString("dd-MMM-yyyy"))</td>
                    <td>@(item.IsActive == true ? "Active": "In Active")</td>
                    <td>

                        <a data-id="@item.BrokerId" onclick="EditBroker(this)"><img src="~/images/edit.gif" title="Edit" alt="Edit" align="EDIT" /></a> &nbsp;
                        &nbsp; <a data-id="@item.BrokerId" onclick="DeleteBrokers(this);"><img src="~/images/icon-delete.gif" title="Delete" alt="Delete" /></a>
                    </td>

                </tr>
                }
            </tbody>



        </table>
    }


}

else
{
    <blockquote>  <h3 style="color:salmon">No Record exist...!!!</h3></blockquote>
}


