@model NationAssists.Models.mServiceEnrollment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whtBg pt60 pb60"
     style="background: url(../images/login_bg.jpg) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="regBox" style="max-width:100%;">
            <div class="flexBox spacebetween">
                <div class="mainHd">Raise Package Request</div>

            </div>
            <ul class="form flexBox">

                <li class="oneThird">
                    <span class="fieldHd" id="lblService">Package </span>
                    <select id="PackageId" class="formSelect">
                        <option value="@Model.Package.ServiceId" selected="selected"> @Model.Package.ServiceName </option>
                    </select>
                    @*@Html.DropDownListFor(m => m.ServiceId,
            new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"),
                   "Select Service", new { @class = "formInput", @onchange = "BindMembership()" })*@
                </li>

                @if (Model.Package.ServiceCode != "HA")
                {
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleRegistrationNo">Vehicle RegistrationNo </span>
                        <input type="text" class="formInput" id="txtVehicleRegistrationNo" maxlength="50" placeholder="VehicleRegistrationNo">
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblChassisNo">Chassis No </span>
                        <input type="text" class="formInput" id="txtChassisNo" placeholder="ChassisNo" maxlength="50">
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleMake">Vehicle Make </span>
                        <input type="text" class="formInput" id="txtVehicleMake" maxlength="500" placeholder="Vehicle Make" />
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleType">Vehicle Type </span>
                        <input type="text" class="formInput" id="txtVehicleType" maxlength="500" placeholder="Vehicle Type" />
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleBody">Vehicle Body </span>
                        <input type="text" class="formInput" id="txtVehicleBody" maxlength="500" placeholder="Vehicle Body" />
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleYear">Vehicle Year</span>
                        <input type="text" id="txtVehicleYear" class="formInput" maxlength="4" placeholder="Vehicle Year" onclick="RestrictAlphabetAndSpace('txtVehicleYear')" />
                    </li>
                }


                @if (Model.Package.ServiceCode == "HA")
                {
                    <li class="oneThird">
                        <span class="fieldHd" id="lblRiskAddress">Risk Address</span>
                        <textarea id="txtRiskAddress" class="formInput" placeholder="RiskAddress"></textarea>
                    </li>
                    <li class="oneThird">
                        <span class="fieldHd">Country</span>
                        @Html.DropDownListFor(m => m.CountryId, Model.BindCountry(), "--select-", new { @class = "formSelect", @onchange = "BindGovernotes()" })
                    </li>
                    <li class="oneThird">
                        <span class="fieldHd" id="lblGovernotes">Governotes</span>
                        <select id="GovernotesId" class="formSelect" onchange="BindPlaces();">
                            <option value="">--Select--</option>
                        </select>
                    </li>
                    <li class="oneThird">
                        <span class="fieldHd" id="lblPlace">
                            Place
                        </span>
                        <select id="PlaceId" class="formSelect" onchange="BindBlock()">
                            <option value="">--Select--</option>
                        </select>
                    </li>

                    <li class="oneThird">
                        <span class="fieldHd" id="lblBlockCode">
                            Block Code
                        </span>
                        <select id="BlockCode" class="formSelect">
                            <option value="">--Select--</option>
                        </select>
                    </li>
                    <li class="oneThird RAS">
                        <span class="fieldHd" id="lblVehicleYear"> Year of Construction</span>
                        <input type="text" id="txtYearOfConstruction" class="formInput" maxlength="4" placeholder="Vehicle Year" onclick="RestrictAlphabetAndSpace('txtYearOfConstruction')" />
                    </li>
                    <li class="oneThird HAS">
                        <span class="fieldHd" id="lblNoOfLocation">No Of Location </span>
                        <input type="text" class="formInput" id="txtNoOfLocation" maxlength="4" placeholder="No of Location" onclick="RestrictAlphabetAndSpace('txtNoOfLocation')" />
                    </li>

                    <li class="oneThird HAS">
                        <span class="fieldHd" id="lblAggreementEndDate">Type Of Service </span>
                        <input type="text" class="formInput" id="txtTypeOfService" maxlength="500" placeholder="Type Of Service" />
                    </li>
                }

                
                <li>
                    <span class="fieldHd" id="lblAggreementEndDate">Remarks </span>
                    <textarea id="txtRemarks" class="formInput" placeholder="Remarks"></textarea>
                </li>
            </ul>

            <input type="hidden" id="hdnServiceEnrollmentId" value="0" />
            <input type="hidden" id="hdnCustomerId" value="@Model.CustomerId" />
            <input type="hidden" id="hdnPackageId" value="@Model.Package.ServiceId" />
            <input type="hidden" id="hdnPackageCode" value="@Model.Package.ServiceCode" />
            <div class="tac">
                <button type="button" class="formBtn regNextStep" id="btnAdd" onclick="return SaveMembership();">Save</button>
                <button type="button" class="btnReset dbformBtn mr10" onclick="window.location.href = '/BuyOnline'">Back</button>

            </div>
            <div class="dbTable">

                @*@Html.Partial("~/Areas/Admin/Views/Brokers/_MembershipList.cshtml", Model);*@

            </div>
        </div>
    </div>
</div>
<script src="~/js/ServiceEnrollment.js"></script>
