@model NationAssists.Areas.Admin.Models.AllocateServiceRequest



@if (Model.AssignedServiceRequestList != null)
{
    int i = 0;

    if (Model.AssignedServiceRequestList.Count > 0)
    {
        <table>

            <thead>
                <tr>
                    <th>Operation</th>
                    <th>SNo.</th>
                    <th>Ticket No</th>
                    <th>Service Name</th>
                    <th>Type of Service</th>
                    <th>Customer Name</th>
                    <th>Contact No</th>
                    <th>Email ID</th>
                    <th>Service Location</th>
                    <th>Status</th>


                </tr>
            <thead>
            <tbody>
                @foreach (DataEngine.ServiceRequest item in Model.AssignedServiceRequestList)
                {
                    i = i + 1;


                <tr>
                    <td>

                        <a data-id="@item.ServiceRequestId" onclick="ShowServiceRequestDetail(@Newtonsoft.Json.JsonConvert.SerializeObject( item))"><img src="~/images/edit.gif" title="Edit" alt="Edit" align="EDIT" /></a> &nbsp;

                    </td>

                    <td><span class="blueClr">@i</span></td>
                    <td>@item.TicketNo</td>
                    <td>@item.ServiceName</td>
                    <td>@item.SubCategoryName</td>
                    <td>@item.Customer_Name</td>
                    <td>@item.ContactMobileNo</td>
                    <td>@item.EmailId</td>
                    <td>@item.ServiceLocation</td>
                    <td>@item.Status_Name</td>


                </tr>
                }
            </tbody>



        </table>
    }

}

else
{
    <blockquote>  <h3 style="color:salmon">No Record exist...!!!</h3></blockquote>
}







