@model NationAssists.Models.mServiceEnrollment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="dashboardCon transition">
    <div class="mainHd">Service Enrollment Request</div>
    <div id="dvDetail">
        <ul class="form flexBox">
            <li class="oneThird">
                <span class="fieldHd">Service </span>
                @Html.DropDownListFor(m => m.ServiceId, Model.GetAllServices(), "--select-", new { @class = "formInput", })
            </li>
            <li class="oneThird">
                <span class="fieldHd" id="lblService">Enrollment Status </span>
                @Html.DropDownListFor(m => m.SearchServiceEnrollmentStatusId, Model.BindEnrollementStatus(false), "--select-", new { @class = "formInput", })
            </li>
           

            <li class="oneThird">
                <span class="fieldHd">Customer Name</span>
                <input type="text" id="txtCustomerName" class="formInput"  />
            </li>
        </ul>
        <div>
            <div class="tac"><button class="formBtn regNextStep" onclick="SearchServiceEnrollment()">Search</button></div>
        </div>
    </div>
    <div style="display:none;">
        @Newtonsoft.Json.JsonConvert.SerializeObject(Model)
    </div>
    <div id="dvServiceDetail" style="display:none;">
        <div id="dvCustomerDetail" style="display:none;"></div>
        <ul class="form flexBox" id="ulserviceEnrollmentRequest">

            <li class="oneThird">
                <span class="fieldHd" id="lblService">Package </span>
                <select id="PackageId" class="formSelect">
                </select>

            </li>


            <li class="oneThird RAS">
                <span class="fieldHd" id="lblVehicleRegistrationNo">Vehicle RegistrationNo </span>
                <input type="text" class="formInput" id="txtVehicleRegistrationNo" maxlength="50" placeholder="VehicleRegistrationNo">
            </li>
            <li class="oneThird RAS">
                <span class="fieldHd" id="lblChassisNo">Chassis No </span>
                <input type="text" class="formInput" id="txtChassisNo" placeholder="ChassisNo" maxlength="50">
            </li>
            <li class="oneThird RAS">
                <span class="fieldHd" id="lblVehicleMake">Vehicle Make </span>
                <input type="text" class="formInput" id="txtVehicleMake" maxlength="500" placeholder="Vehicle Make" />
            </li>
            <li class="oneThird RAS">
                <span class="fieldHd" id="lblVehicleType">Vehicle Type </span>
                <input type="text" class="formInput" id="txtVehicleType" maxlength="500" placeholder="Vehicle Type" />
            </li>
            <li class="oneThird RAS">
                <span class="fieldHd" id="lblVehicleBody">Vehicle Body </span>
                <input type="text" class="formInput" id="txtVehicleBody" maxlength="500" placeholder="Vehicle Body" />
            </li>
            <li class="oneThird RAS">
                <span class="fieldHd" id="lblVehicleYear">Vehicle Year</span>
                <input type="text" id="txtVehicleYear" class="formInput" maxlength="4" placeholder="Vehicle Year" onclick="RestrictAlphabetAndSpace('txtVehicleYear')" />
            </li>

            <li class="oneThird HAS">
                <span class="fieldHd" id="lblRiskAddress">Risk Address</span>
                <textarea id="txtRiskAddress" class="formInput" placeholder="RiskAddress"></textarea>
            </li>

            <li class="oneThird HAS">
                <span class="fieldHd">Country</span>
                @Html.DropDownListFor(m => m.CountryId, Model.BindCountry(), "--select-", new { @class = "formSelect", @onchange = "BindGovernotes()" })
            </li>
            <li class="oneThird HAS">
                <span class="fieldHd" id="lblGovernotes">Governotes</span>
                <select id="GovernotesId" class="formSelect" onchange="BindPlaces();">
                    <option value="">--Select--</option>
                </select>
            </li>
            <li class="oneThird HAS">
                <span class="fieldHd" id="lblPlace">
                    Place
                </span>
                <select id="PlaceId" class="formSelect" onchange="BindBlock()">
                    <option value="">--Select--</option>
                </select>
            </li>

            <li class="oneThird HAS">
                <span class="fieldHd" id="lblBlockCode">
                    Block Code
                </span>
                <select id="BlockCode" class="formSelect">
                    <option value="">--Select--</option>
                </select>
            </li>
            <li class="oneThird HAS">
                <span class="fieldHd" id="lblVehicleYear"> Year of Construction</span>
                <input type="text" id="txtYearOfConstruction" class="formInput" maxlength="4" placeholder="Vehicle Year" onclick="RestrictAlphabetAndSpace('txtYearOfConstruction')" />
            </li>
            <li class="oneThird HAS">
                <span class="fieldHd" id="lblNoOfLocation">No Of Location </span>
                <input type="text" class="formInput" id="txtNoOfLocation" maxlength="4" placeholder="No of Location" onclick="RestrictAlphabetAndSpace('txtNoOfLocation')" />
            </li>

            <li class="oneThird HAS">
                <span class="fieldHd" id="lblAggreementEndDate">Type Of Service </span>
                <input type="text" class="formInput" id="txtTypeOfService" maxlength="500" placeholder="Type Of Service" />
            </li>


            <li>
                <span class="fieldHd" id="lblAggreementEndDate">Remarks </span>
                <textarea id="txtRemarks" class="formInput" placeholder="Remarks"></textarea>
            </li>


        </ul>

        <ul class="form flexBox" id="ulUpdated">
            <li class="oneThird">
                <span class="fieldHd">Enrollment Status**</span>
                @Html.DropDownListFor(m => m.ServiceEnrollmentStatusId, Model.BindEnrollementStatus(true), "--select-", new { @class = "formSelect", @onchange = "OnChangingEnrollmentStatus(this)" })
            </li>
            <li class="oneThird MEM" style="display:none;">
                <span class="fieldHd" id="lblBrokerName">Branch </span>
                <input type="text" class="formInput" id="txtBranch" maxlength="1000" placeholder="Branch">
            </li>
            <li class="oneThird MEM" style="display:none;">
                <span class="fieldHd">Policy Type </span>
                <input type="text" class="formInput" placeholder="Policy Type" id="txtPolicyType" />
            </li>

            <li class="oneThird MEM" style="display:none;">
                <span class="fieldHd">Policy No </span>
                <input type="text" class="formInput" placeholder="Policy No" id="txtPolicyNo" />
            </li>
            <li class="oneThird MEM" style="display:none;">
                <span class="fieldHd" id="lblLandlineNo">Effective Date** </span>
                <input type="text" id="txtEffectiveDate" class="formInput datePicker" />
            </li>
            <li class="oneThird MEM" style="display:none;">
                <span class="fieldHd" id="lblEmailID">Expiry Date** </span>
                <input type="text" id="txtExpiryDate" class="formInput datePicker" />
            </li>

            <li id="liApRemarks" style="display:none;">
                <span class="fieldHd" id="lblAggreementEndDate">Approver Remarks** </span>
                <textarea id="txtApproverRemarks" class="formInput" placeholder="Approver Remarks"></textarea>
            </li>

        </ul>



        <input type="hidden" id="hdnServiceEnrollmentId" value="0" />
        <input type="hidden" id="hdnCustomerId" value="0" />
        <input type="hidden" id="hdnPackageId" value="0" />
        <input type="hidden" id="hdnPackageCode" value="" />
        <input type="hidden" id="hdnCountryId" value="0" />
        <input type="hidden" id="hdnGovernotesId" value="0" />
        <input type="hidden" id="hdnPlaceId" value="0" />
        <input type="hidden" id="hdnBlockId" value="0" />
        <input type="hidden" id="hdnRequestedDate" value="" />

        <div class="tac" >
            <button type="button" class="formBtn regNextStep" id="dvButton" onclick="return SaveMembership();">Save</button>

            <button type="button" class="btnReset dbformBtn mr10" onclick="window.location.href = '/Admin/ServiceEnrollment'">Back</button>
        </div>
    </div>


    <div class="dbTable" id="tblServiceRequest">

        @Html.Partial("~/Areas/Admin/Views/ServiceEnrollment/_ServiceEnrollmentRequestList.cshtml", Model);
    </div>
</div>
<script src="~/Areas/Admin/JS/ServiceEnrollment.js"></script>